# Database URL
DATABASE_URL=postgresql://postgres:123456@localhost:5432/better-auth

# Better Auth Config
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# App Configuration
NEXT_PUBLIC_APP_NAME="Better Auth Template"

# Social Providers - Client IDs and Secrets
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID= # Same as GOOGLE_CLIENT_ID, used for One Tap

# MailTrap Credentials (or other SMTP)
MAILTRAP_USER=
MAILTRAP_PASS=
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_FROM_EMAIL=no-reply@better-auth-template.com
